.12pTxt {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.tableHead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.14pTitle {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #00509F;
	font-weight: bold;
}
.16pTitle {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #00509F;
	font-weight: bold;
}