BODY {
	FONT-FAMILY: Verdana,'Trebuchet MS', Lucida, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
.normal {
	FONT-WEIGHT: normal; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana,'Trebuchet MS', Lucida, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
.norm {
	FONT-WEIGHT: normal; COLOR: #000; FONT-STYLE: normal; FONT-FAMILY: Verdana,'Trebuchet MS',
     Lucida, Arial, Helvetica, sans-serif
}
.symb {
	FONT-SIZE: 120%; FONT-FAMILY: Times,'Times New Roman',serif
}
H1 {
	COLOR: #c00; TEXT-ALIGN: center
}
H2 {
	COLOR: #c00; TEXT-ALIGN: center
}
H3 {
	COLOR: #c00; TEXT-ALIGN: center
}
H4 {
	COLOR: #c00; TEXT-ALIGN: center
}
H5 {
	COLOR: #c00; TEXT-ALIGN: center
}
SUP {
	FONT-SIZE: 80%; VERTICAL-ALIGN: super
}
SUB {
	FONT-SIZE: 80%; VERTICAL-ALIGN: sub
}
UNKNOWN {
	TEXT-ALIGN: right
}
UNKNOWN {
	FONT-SIZE: 90%; FONT-FAMILY: Verdana,'Trebuchet MS', Lucida, Arial, Helvetica, sans-serif
}
UNKNOWN {
	FONT-SIZE: 100%; FONT-FAMILY: Verdana,'Trebuchet MS', Lucida, Arial, Helvetica, sans-serif
}
INPUT.clear {
	COLOR: silver; BACKGROUND-COLOR: rgb(51,51,51)
}
.clear {
	COLOR: silver; BACKGROUND-COLOR: rgb(51,51,51)
}
INPUT.btn {
	FONT-SIZE: 90%; COLOR: blue
}
INPUT.infobtn {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: 100% 'Times New Roman',Times,Palatino,serif; WIDTH: 1.5em; COLOR: #ccc; PADDING-TOP: 0px; BACKGROUND-COLOR: #33f; text-shadow: -1px -1px white, 1px 1px #333
}
INPUT.action {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; COLOR: #ff9; PADDING-TOP: 3px; BACKGROUND-COLOR: #993
}
FORM TEXTAREA {
	COLOR: #000; FONT-FAMILY: Courier,monospace
}
A:link {
	COLOR: blue
}
A:visited {
	COLOR: navy
}
A:hover {
	COLOR: red
}
A:active {
	COLOR: green
}
UL.contentsl1 A:link {
	FONT-WEIGHT: bolder
}
UL.contentsl1 A:visited {
	FONT-WEIGHT: bolder; COLOR: navy; BACKGROUND-COLOR: white
}
UL.contentsl1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(images/redsq.gif); PADDING-BOTTOM: 0px; MARGIN-LEFT: 3em; COLOR: #666; PADDING-TOP: 0px; LIST-STYLE-TYPE: disc; BACKGROUND-COLOR: white
}
UL.contentsl2 A:link {
	FONT-WEIGHT: normal
}
UL.contentsl2 A:visited {
	FONT-WEIGHT: normal; COLOR: navy; BACKGROUND-COLOR: white
}
UL.contentsl2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; LIST-STYLE-IMAGE: url(images/goldsq.gif); PADDING-BOTTOM: 0px; MARGIN-LEFT: 3em; COLOR: #666; PADDING-TOP: 0px; LIST-STYLE-TYPE: square; BACKGROUND-COLOR: white
}
UL.contentsl3 A:link {
	
}
UL.contentsl3 A:visited {
	COLOR: navy; BACKGROUND-COLOR: white
}
UL.contentsl3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 95%; LIST-STYLE-IMAGE: url(images/greensq.gif); PADDING-BOTTOM: 0px; MARGIN-LEFT: 3em; COLOR: #666; PADDING-TOP: 0px; LIST-STYLE-TYPE: circle; BACKGROUND-COLOR: white
}
UL.contentsl4 A:link {
	
}
UL.contentsl4 A:visited {
	COLOR: navy; BACKGROUND-COLOR: white
}
UL.contentsl4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 95%; LIST-STYLE-IMAGE: url(images/bluesq.gif); PADDING-BOTTOM: 0px; MARGIN-LEFT: 3em; COLOR: #666; PADDING-TOP: 0px; LIST-STYLE-TYPE: circle; BACKGROUND-COLOR: white
}
UL.contentsCalc {
	FONT-SIZE: 95%; LIST-STYLE-IMAGE: url(images/calcicon.gif); COLOR: #666; FONT-STYLE: italic; LIST-STYLE-TYPE: circle
}
.spaced {
	LETTER-SPACING: 0.7em
}
.centered {
	TEXT-ALIGN: center
}
.overline {
	TEXT-DECORATION: overline
}
.overbar {
	TEXT-DECORATION: overline
}
.underline {
	BORDER-BOTTOM: black 1px solid
}
.u {
	BORDER-BOTTOM: black 1px solid
}
.uu {
	BORDER-LEFT-COLOR: black; BORDER-BOTTOM-COLOR: black; BORDER-TOP-STYLE: none; BORDER-TOP-COLOR: black; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-RIGHT-COLOR: black; BORDER-BOTTOM-STYLE: double
}
.doubleunderline {
	BORDER-LEFT-COLOR: black; BORDER-BOTTOM-COLOR: black; BORDER-TOP-STYLE: none; BORDER-TOP-COLOR: black; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-RIGHT-COLOR: black; BORDER-BOTTOM-STYLE: double
}
.u2 {
	BORDER-BOTTOM: black 3px solid
}
.l {
	BORDER-LEFT: black 1px solid
}
.question {
	MARGIN-TOP: 10pt; MARGIN-BOTTOM: 10pt; COLOR: #960; FONT-STYLE: italic; BACKGROUND-COLOR: white; TEXT-ALIGN: center
}
UL LI.book {
	LIST-STYLE-IMAGE: url(images/book.gif)
}
UL LI.paper {
	LIST-STYLE-IMAGE: url(images/openbook.gif)
}
UL LI.link {
	LIST-STYLE-IMAGE: url(images/compass.gif)
}
UL LI.calc {
	LIST-STYLE-IMAGE: url(images/calc.gif)
}
UL {
	MARGIN-LEFT: 0px
}
OL.typea {
	LIST-STYLE-TYPE: lower-alpha
}
OL.typeA {
	LIST-STYLE-TYPE: upper-alpha
}
OL.type1 {
	LIST-STYLE-TYPE: decimal
}
OL.typei {
	LIST-STYLE-TYPE: lower-roman
}
OL.typeI {
	LIST-STYLE-TYPE: upper-roman
}
.ttl {
	FONT-WEIGHT: bolder; FONT-SIZE: larger; COLOR: red; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center
}
.b {
	FONT-WEIGHT: bolder
}
EM {
	FONT-WEIGHT: bolder
}
.nonb {
	FONT-WEIGHT: normal
}
.popup {
	BORDER-RIGHT: black 2px solid; PADDING-RIGHT: 5px; BORDER-TOP: black 2px solid; DISPLAY: none; PADDING-LEFT: 5px; FONT-SIZE: 70%; Z-INDEX: 13; PADDING-BOTTOM: 5px; BORDER-LEFT: black 2px solid; COLOR: #006; PADDING-TOP: 5px; BORDER-BOTTOM: black 2px solid; POSITION: relative; BACKGROUND-COLOR: #3cf; TEXT-ALIGN: left
}
.popupwin {
	FONT-SIZE: 90%; COLOR: #fff; BACKGROUND-COLOR: #33c; TEXT-ALIGN: left
}
.newprime {
	COLOR: #0c0; BACKGROUND-COLOR: white
}
.prime {
	COLOR: #f33; BACKGROUND-COLOR: white
}
.comp {
	COLOR: #33c; FONT-FAMILY: Arial,Verdana,sans-serif
}
.cancel {
	TEXT-DECORATION: line-through
}
.strike {
	TEXT-DECORATION: line-through
}
.xout {
	TEXT-DECORATION: line-through
}
.orange {
	FONT-WEIGHT: bolder; COLOR: #fc0
}
.red {
	FONT-WEIGHT: bolder; COLOR: #f30
}
.magenta {
	FONT-WEIGHT: bolder; COLOR: #f0f
}
.purple {
	FONT-WEIGHT: bolder; COLOR: #939
}
.brown {
	FONT-WEIGHT: bolder; COLOR: #900
}
.blue {
	FONT-WEIGHT: bolder; COLOR: #60f
}
.green {
	FONT-WEIGHT: bolder; COLOR: #3c0
}
.cyan {
	FONT-WEIGHT: bolder; COLOR: #0ff
}
.jade {
	FONT-WEIGHT: bolder; COLOR: #3c6
}
.plum {
	FONT-WEIGHT: bolder; COLOR: #c36
}
.skyblue {
	FONT-WEIGHT: bolder; COLOR: #36c
}
.yellow {
	FONT-WEIGHT: bolder; COLOR: #ff3
}
.gold {
	FONT-WEIGHT: bolder; COLOR: #ff3
}
.black {
	COLOR: #000
}
.silver {
	COLOR: #ccc
}
.grey {
	COLOR: #999
}
.gray {
	COLOR: #999
}
.black {
	COLOR: black
}
.redyell {
	FONT-WEIGHT: bolder; COLOR: red; BACKGROUND-COLOR: yellow
}
.tt {
	FONT-FAMILY: Courier,monospace
}
.ttblue {
	COLOR: blue; FONT-FAMILY: Courier,monospace
}
.ttmagenta {
	COLOR: #f0f; FONT-FAMILY: Courier,monospace
}
.ttred {
	COLOR: red; FONT-FAMILY: Courier,monospace
}
.ttgreen {
	COLOR: green; FONT-FAMILY: Courier,monospace
}
.nbHR {
	COLOR: #900; FONT-FAMILY: Courier,Monaco,monospace; BACKGROUND-COLOR: #ff9
}
.index {
	FONT-STYLE: italic
}
.paleindex {
	COLOR: #999; FONT-STYLE: italic
}
.index1 {
	FONT-SIZE: smaller; FONT-STYLE: italic
}
.center {
	TEXT-ALIGN: center
}
.box {
	BORDER-RIGHT: #99f 1px solid; BORDER-TOP: #99f 1px solid; BORDER-LEFT: #99f 1px solid; BORDER-BOTTOM: #99f 1px solid; TEXT-ALIGN: center
}
.boxblk {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px 6%; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #ccc 1px solid
}
.boxblkcol {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px 6%; COLOR: #333; PADDING-TOP: 10px; BACKGROUND-COLOR: #fee
}
.bold {
	FONT-WEIGHT: bolder
}
.coords {
	FONT-SIZE: smaller; FONT-FAMILY: monospace
}
.eulerstats {
	FONT-WEIGHT: bolder
}
.bkt {
	FONT-SIZE: 250%; FONT-FAMILY: Symbol
}
.rule {
	PADDING-RIGHT: 4px; MARGIN-TOP: 14pt; PADDING-LEFT: 4px; FONT-SIZE: 100%; MARGIN-BOTTOM: 14pt; PADDING-BOTTOM: 4px; COLOR: #063; PADDING-TOP: 4px; FONT-FAMILY: Verdana, Arial, 
       sans-serif; BACKGROUND-COLOR: #cff; TEXT-ALIGN: center
}
.rulebox {
	BORDER-RIGHT: #093 2px solid; PADDING-RIGHT: 12px; BORDER-TOP: #093 2px solid; MARGIN-TOP: 14pt; PADDING-LEFT: 12px; FONT-SIZE: 130%; MARGIN-BOTTOM: 14pt; PADDING-BOTTOM: 12px; BORDER-LEFT: #093 2px solid; COLOR: #093; PADDING-TOP: 12px; BORDER-BOTTOM: #093 2px solid; FONT-FAMILY: Verdana, Arial, 
       sans-serif; BACKGROUND-COLOR: #3ff; TEXT-ALIGN: center
}
.indentrule {
	FONT-SIZE: 100%; MARGIN: 3% 3% 3% 5%; COLOR: #093; FONT-FAMILY: Verdana, Arial, sans-serif
}
.indent {
	MARGIN: 1% 1% 1% 5%
}
.indenttt {
	MARGIN: 1% 1% 1% 5%; FONT-FAMILY: Courier,monospace
}
.small {
	FONT-SIZE: 80%
}
.mathcol {
	COLOR: #009
}
.mathbg {
	BACKGROUND-COLOR: #009
}
.math {
	FONT-SIZE: 110%; COLOR: #009; FONT-STYLE: italic; FONT-FAMILY: Palatino,"Palatino Linotype","Times New Roman",serif
}
.maths {
	FONT-SIZE: 110%; COLOR: #009; FONT-STYLE: italic; FONT-FAMILY: Palatino,"Palatino Linotype","Times New Roman",serif
}
.math1 {
	FONT-SIZE: 110%; COLOR: #009; FONT-STYLE: italic; FONT-FAMILY: Palatino,"Palatino Linotype","Times New Roman",serif
}
.mathsym {
	COLOR: #009; FONT-STYLE: normal; FONT-FAMILY: Palatino,"Palatino Linotype","Times New Roman",serif
}
.num {
	VERTICAL-ALIGN: super; COLOR: #00c; FONT-STYLE: italic; FONT-FAMILY: "Times New Roman",Palatino,serif
}
.den {
	VERTICAL-ALIGN: sub; COLOR: #00c; FONT-STYLE: italic; FONT-FAMILY: "Times New Roman",Palatino,serif
}
.calc {
	BORDER-RIGHT: #c90 2px solid; PADDING-RIGHT: 1em; BORDER-TOP: #c90 2px solid; PADDING-LEFT: 1em; MARGIN: 5px; BORDER-LEFT: #c90 2px solid; COLOR: #c63; BORDER-BOTTOM: #c90 2px solid; FONT-FAMILY: Verdana,Helvetica,sans-serif; BACKGROUND-COLOR: #ff9
}
.res {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; OVERFLOW: auto; BORDER-LEFT: #999 1px solid; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px solid; FONT-FAMILY: monospace; BACKGROUND-COLOR: #ffd; TEXT-ALIGN: left
}
.resSPACEbtn {
	COLOR: #ffd; BACKGROUND-COLOR: #666
}
.calcbg {
	BACKGROUND-COLOR: #ff9
}
.calcorange {
	BACKGROUND-COLOR: #fc6
}
.calcbrown {
	BACKGROUND-COLOR: #c96
}
.calcred {
	BACKGROUND-COLOR: #f66
}
.calcpeach {
	BACKGROUND-COLOR: #f96
}
.calccyan {
	BACKGROUND-COLOR: #9fc
}
.calcjade {
	BACKGROUND-COLOR: #6f9
}
.calcolive {
	BACKGROUND-COLOR: #996
}
.calcpink {
	BACKGROUND-COLOR: #f69
}
.fontpink {
	COLOR: #f69
}
.calcmauve {
	BACKGROUND-COLOR: #c6f
}
.calcblue {
	BACKGROUND-COLOR: #69f
}
.fontblue {
	COLOR: #69f
}
TABLE TD.icon {
	VERTICAL-ALIGN: top; TEXT-ALIGN: center
}
TABLE.addr {
	WIDTH: 100%
}
TABLE.lalign {
	TEXT-ALIGN: left
}
TABLE.ralign {
	TEXT-ALIGN: right
}
TABLE.calign {
	TEXT-ALIGN: center
}
TABLE TR TH.rowline {
	BORDER-BOTTOM: gray 1px solid
}
TD.rowline {
	BORDER-BOTTOM: gray 1px solid
}
.ttdtitle {
	FONT-SIZE: 120%; COLOR: red; FONT-FAMILY: 'Comic Sans MS','GillSans',Arial,sans-serif; BACKGROUND-COLOR: #fd9
}
.ttd {
	PADDING-RIGHT: 2%; PADDING-LEFT: 2%; FONT-WEIGHT: bolder; PADDING-BOTTOM: 5px; MARGIN: 5px 0px; COLOR: black; PADDING-TOP: 5px; FONT-FAMILY: Helvetica,Arial,'Lucida Grande','Trebuchet MS','Comic Sans MS',sans-serif; BACKGROUND-COLOR: #fd9; TEXT-ALIGN: center
}
.ttd H4 {
	FONT-SIZE: 120%; COLOR: red; FONT-FAMILY: 'Gill Sans','Trebucket MS','Gill Sans','Lucida Grande',Arial,'Comic Sans MS',sans-serif
}
OL.ttd {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: bolder; BORDER-LEFT: 0px; COLOR: black; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #fd9
}
UL.ttd {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: bolder; BORDER-LEFT: 0px; COLOR: black; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #fd9
}
OL.ttd LI {
	FONT-WEIGHT: normal; MARGIN: 0px 0% 8px; BACKGROUND-COLOR: #fd9; TEXT-ALIGN: left
}
UL.ttd LI {
	FONT-WEIGHT: normal; MARGIN: 0px 0% 8px; BACKGROUND-COLOR: #fd9; TEXT-ALIGN: left
}
UL.biblio {
	
}
A.ttd:link {
	COLOR: #930
}
A.ttd:hover {
	COLOR: #963
}
A.ttd:active {
	COLOR: #f93
}
A.ttd:visited {
	COLOR: #c33
}
.orangebg {
	BACKGROUND-COLOR: #fc6
}
.F99bg {
	BACKGROUND-COLOR: #f99
}
.brownbg {
	BACKGROUND-COLOR: #c60
}
.yellowbg {
	BACKGROUND-COLOR: #ff0
}
.lemonbg {
	BACKGROUND-COLOR: #ff6
}
.redbg {
	BACKGROUND-COLOR: red
}
.whitebg {
	BACKGROUND-COLOR: #fff
}
.greybg {
	BACKGROUND-COLOR: #ccc
}
.whitebg {
	BACKGROUND-COLOR: white
}
.quote {
	COLOR: #c36; FONT-FAMILY: "Lucida Grande",Arial,sans-serif
}
.footnote {
	FONT-SIZE: smaller; FONT-FAMILY: "Lucida Grande",Arial,sans-serif
}
.cfPER {
	FONT-WEIGHT: bolder; COLOR: red
}
.question {
	MARGIN-TOP: 10pt; MARGIN-BOTTOM: 10pt; COLOR: #309; FONT-STYLE: italic; TEXT-ALIGN: center
}
.def {
	MARGIN-TOP: 14pt; MARGIN-BOTTOM: 14pt; MARGIN-LEFT: 20px; COLOR: #936
}
.tri {
	COLOR: #c00; FONT-FAMILY: "Verdana",'Courier New Italic','Courier New',monospace
}
.paletri {
	COLOR: #f69; FONT-FAMILY: "Verdana",'Courier New Italic','Courier New',monospace
}
.newtri {
	COLOR: #f33; FONT-STYLE: italic; FONT-FAMILY: "Verdana",'Courier New Italic','Courier New',monospace
}
.outline {
	BORDER-RIGHT: #cc0 1px solid; BORDER-TOP: #cc0 1px solid; BORDER-LEFT: #cc0 1px solid; BORDER-BOTTOM: #cc0 1px solid
}
.quote {
	COLOR: #c36; FONT-FAMILY: "Lucida Grande",Arial,sans-serif
}
.footnote {
	FONT-SIZE: smaller; FONT-FAMILY: "Lucida Grande",Arial,sans-serif
}
.shade {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px; PADDING-TOP: 10px; BACKGROUND-COLOR: #ccc
}
.border {
	BORDER-RIGHT: gray 2px solid; PADDING-RIGHT: 3px; BORDER-TOP: gray 2px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: gray 2px solid; PADDING-TOP: 3px; BORDER-BOTTOM: gray 2px solid
}
.right {
	TEXT-ALIGN: right
}
.hr {
	HEIGHT: 1px; BACKGROUND-COLOR: #990
}
.small {
	FONT-SIZE: smaller
}
.dim {
	COLOR: #999
}
.mono {
	FONT-FAMILY: monospace
}
.green {
	COLOR: #090
}
.orange {
	COLOR: #f63
}
.mauve {
	COLOR: #f0c
}
.p {
	COLOR: #33f
}
.a {
	COLOR: #f0c
}
TABLE.nav {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Verdana,'Trebuchet MS', Lucida, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ccc
}
.wtn {
	FONT-WEIGHT: bolder; COLOR: #c36; BACKGROUND-COLOR: white; TEXT-ALIGN: center
}
TABLE.right {
	TEXT-ALIGN: right
}
TABLE.left TD {
	TEXT-ALIGN: left
}
TABLE.mono {
	FONT-FAMILY: Courier,monospace
}
TABLE.ref {
	TEXT-ALIGN: left
}
TABLE.ref TD {
	
}
.icanhide {
	VISIBILITY: hidden; POSITION: relative
}
.icanhideSHOW {
	VISIBILITY: visible; POSITION: relative
}
.contentsCalc {
	FONT-SIZE: 95%; LIST-STYLE-IMAGE: url(../images/calcicon.gif); COLOR: #666; FONT-STYLE: italic; LIST-STYLE-TYPE: circle
}
